
div.row:nth-child(1) {
	margin-bottom: 0px;
}

.select-dropdown li span {
	font-size: 12px;
	line-height: 15px;
}


form {
	display: flex;
	align-items: space-between;
	margin-top: 20px;

	button {
		margin-top: 7px;
	}
}


.carousel-item {
	text-align : left;
	overflow-y : scroll;

	ul li {
		color: black;
	}
}

ul {

	li {
		display: flex;

		label {
			color: white;
			}

		a {
			line-height: 20px;
			color: #00897b;
		}
	}

}

.fixed-action-btn {

}

