
div.row:nth-child(1) {
	margin-bottom: 0px;
}

.select-dropdown li span {
	font-size: 12px;
	line-height: 15px;
}

div.select-wrapper input.select-dropdown

form {
	display: flex;
	align-items: space-between;
	margin-top: 20px;

	button {
		margin-top: 7px;
	}
}


#viewTasks {

	li {
		display: flex;

		label {
			color: #004d40;
			}

		a {
			line-height: 20px;
			color: #00897b;
		}
	}

}

